/*
    Display property in CSS: 

    > in HTML there are 3 types of elements: 
    1. BLOCK ELEMENT: A block element takes up the entire line.
                    A paragraph by default is a block element.
    2. INLINE-BLOCK ELEMENT: only takes up as much space as needed,
                    and doesn't takes up the entire line.
                    For ex. image element & input element.
    3. INLINE ELEMENT: This are basically just text elements, 
                    they appear within a line of text.
                    For ex. strong element.
*/
.video-preview{
    width: 400px;
    display: inline-block;
    margin-right: 12px
}
.thumbnail{
    width: 400px;
    border-radius: 7px;
    display: block;
}
.search-bar{
    font-size: 20px;
    display: block;
}
.video-title{
    width: 400px;
}
