/*
    Display property in CSS: 

    > in HTML there are 3 types of elements: 
    1. BLOCK ELEMENT: A block element takes up the entire line.
                    A paragraph by default is a block element.
    2. INLINE-BLOCK ELEMENT: only takes up as much space as needed,
                    and doesn't takes up the entire line.
                    For ex. image element & input element.
    3. INLINE ELEMENT: This are basically just text elements, 
                    they appear within a line of text.
                    For ex. strong element.
*/

.thumbnail-row{
    margin-bottom: 6px;
    position: relative;
}
.thumbnail{
    width: 100%;    /* will only take up 100% of container / column grid */
    border-radius: 8px;
}
.video-info-grid{
    display: grid;
    grid-template-columns: 48px 1fr;
}
.channel-picture{
    width: 38px;
    height: 38px;
    border-radius: 50px;
}
.video-title{
    font-weight: 500;
    color: black;
    margin-top: 0px;
    margin-bottom: 6px;
}
.video-author,
.video-stats{
    margin-top: 0px;
    margin-bottom: 1px;
    color: rgb(104, 104, 104);
    font-size: 14px;
}
.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 25px;
}
@media (max-width: 800px) {
    .video-grid{
        display: flex;
        flex-direction: column;

        /* not done... grid-template-columns: 1fr; because it was not working */
    }
}
@media (max-width: 1200px) {
    .video-grid{
        /* we're only gonna have 2 columns when screen size is (0 - 1200px) */
        grid-template-columns: 1fr 1fr; 
    }
}
@media (max-width: 1200) and (min-width: 1594px) {
    .video-grid{
        /* we're gonna have 3 columns when max-width is 1096px and min-width is 1594px */
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (min-width: 1594px) {
    .video-grid{
        /* from 1594px and up, we're gonna have 4 columns */
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.video-time{
    background-color: black;
    color: white;
    font-family: Roboto, Arial;
    font-weight: 500;
    position: absolute; /* need position absolute inside position relative (container) */
    bottom: 8px;
    right: 8px;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
}